<div class="main-block-50">
    <a href="#" class="close-b"><img src="assets/images/close-button.png" alt=""></a>
    <div class="form">
        <div class="input-group">
            <span class="form-text">Имя</span>
            <span class="form-name">Антон</span>
        </div>
        <div class="input-group">
            <span class="form-text">Идентификатор автобуса</span>
            {{input value=busId placeholder="Bus id" change="uncheck"  class="form-input" size=5}}
        </div>
        <div class="input-group">
            {{#if busChecked}}
              {{#if busRoute}}
              <span class="form-text">Номер маршрута</span>
              <span class="form-name"> Bus route: {{busRoute}}</span>
              {{else}}
                 <span class="form-name"> Bus isn't exists</span>
              {{/if}}
            {{/if}}
        </div>
    </div>
    <button {{action "checkBus"}} class="button-form check-button-form"><img src="assets/images/close-button.png" alt=""></button>
    <button {{action "buyTicket"}} disabled={{busIsNotExists}} class="button-form"><img src="assets/images/check.png" alt=""></button>
</div>