<div>
  {{input value=name placeholder="Name"}}
  {{input value=phoneNumber placeholder="Phone number"}}
  {{input value=password placeholder="Password"}}
  {{input value=passwordConfirm placeholder="Confirm password"}}
  {{input value=email placeholder="Email"}}
  <button {{action "signup"}}>Sign up</button>
</div>